h1{text-align:center;}
h1{text-decoration: underline;
    text-align: center;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px white;
    font-family: 'Pattaya', sans-serif;
    font-size: 50px;
    font-family: 'Rampart One', cursive;
}
body{background-color:#cc5151;}
img{width:600px;
	display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    border-radius:10px;
}
h2{color:red;
	text-shadow:1px 1px 2px black;
	font-family: 'Courier Prime', monospace;
}
h3{font-family: 'Henny Penny', cursive;}
ul{font-family: 'Fredericka the Great', cursive;
	font-size:25px;
}